.popup__form-name {
    margin-bottom: 30px;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 10px;
}

.popup__form-name::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
