.footer__copyright-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
  }

@media (max-width: 940px) {
    .footer__copyright-text {
      font-size: 16px;
    }
}

@media (max-width: 375px) {
    .footer__copyright-text {
      font-size: 14px;
      line-height: 17px;
    }
}