.popup__form-btn {
    padding: 15px;
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
}
  
.popup__form-btn:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width: 640px) {
    .popup__form-btn {
        font-size: 14px;
        line-height: 17px;
    }
}