.popup__content {
  width: 430px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 34px 36px;
  position: relative;
}

@media (max-width: 640px) {
  .popup__content {
    width: auto;
    height: 322px;
  }
}

@media (max-width: 375px) {
  .popup__content {
    padding: 34px 26px;
  }
}